{% extends "BWCMSBundle:Common:default.html.twig" %}

{% block title %}Edit User{% endblock %}
{% block pageTitle %}
    <h1>User Manager - Edit User</h1>
{% endblock %}


{% block body %}

    {{ form(form, { 'style': 'horizontal' , 'label_col': 2, 'widget_col': 10 }) }}

{% endblock %}
