{% extends "BWCMSBundle:Common:default.html.twig" %}

{% block title %}Dashboard{% endblock %}
{% block pageTitle %}
    <h1>Dashboard</h1>
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ asset('bundles/bwcms/jquery-ui/jquery-ui.min.css') }}"/>
{% endblock %}

{% block body %}
    {{ form(form, { 'style': 'horizontal' }) }}
{% endblock %}


{% block footer %}
    <script src="{{ asset('bundles/bwcms/jquery-ui/jquery-ui.min.js') }}"></script>
{% endblock %}



