{% extends "BWCMSBundle:Common:default.html.twig" %}

{% block title %}Dashboard{% endblock %}
{% block pageTitle %}
    <h1>Dashboard</h1>
{% endblock %}

{% block body %}
    {{ form(form, { 'style': 'horizontal' }) }}

{% endblock %}



