{% extends "@Generic/Base.html.twig" %}

{% block header %}
    {{ menu('header')|raw }}
{% endblock %}

{% block body %}
    <h1>Page: {{ content.title }}</h1>
{% endblock %}

{% block footer %}
    {{ menu('footer') }}
{% endblock %}
