{% extends "BWCMSBundle:Common:default.html.twig" %}

{% block title %}Add Site{% endblock %}
{% block pageTitle %}
    <h1>Add Site</h1>
{% endblock %}

{% block body %}
    {{ form(form, { 'style': 'horizontal' , 'label_col': 2, 'widget_col': 10 }) }}
{% endblock %}
