{% extends "BWCMSBundle:Common:base.html.twig" %}

{% block bodyContainer %}

    {{ include("BWCMSBundle:Common:navigation.html.twig")  }}

    <div class="container-fluid" style="margin-left: 10px;margin-right: 10px;">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    {% block pageTitle %}<h1>BWCMS!</h1>{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-left: 10px;margin-right: 10px;">
        {% block body '' %}
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-left">&copy; {{ "now"|date("Y") }} Bellwether Brands.</p>
        </div>
    </div>

{% endblock %}