body {
    padding-top: 30px;
    padding-bottom: 30px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#loadingIndicatorHolder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999999;
}

/*.page-header {*/
    /*padding-bottom: 10px;*/
    /*margin: 40px 0 0px;*/
    /*border-bottom: 1px solid #eeeeee;*/
/*}*/

.page-content{
    margin-bottom: 50px;
}


#loadingIndicator{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 120px;
    height: 120px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    -webkit-box-shadow: 18px 18px 50px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 18px 18px 50px 0px rgba(0,0,0,0.7);
    box-shadow: 18px 18px 50px 0px rgba(0,0,0,0.7);
}​

.form-horizontal .form-group{
    margin-left: 0px;
    margin-right: 0px;
}

div.contentPageLeft{
    padding-top: 10px;
    min-height: 400px;
    overflow: auto;
    background-color: #f1f0f0;
}

div.contentPageRight {
    padding-top: 10px;
    min-height: 400px;
}

table.dataTable tbody tr.odd {
    background-color: #F9F9F9;
}

table.dataTable tbody tr.even {
    background-color: #FFFFFF;
}

table.dataTable tbody tr.actioned{
    color: #ffffff !important;
    background-color: #111111 !important;
}

ul.FCList li{
    border: 1px solid #cccccc;
    border-radius: 25px;
    margin-bottom: 3px;
    padding-top: 5px;
    cursor: move;
}

img.contentThumb{
    height: 32px;
    width: 32px;
}

#fileUploaderPreviews{
    height: 350px;
    overflow: scroll;
    background-color: #f1f0f0;
    background-image: url(../images/dragndrop.png);
    background-repeat:no-repeat;
    background-position: center center;
}
#fileUploaderPreviews table{
    margin-bottom: 5px;
    background-color: #ccc;
    margin-left: 5px;
    margin-right: 5px;
    width: 98%;
}

div.taxonomyTree{
    width: 90%;
    height: 200px;
    background-color: #E6E6E6;
    border: 1px solid #cccccc;
    overflow: scroll;
    padding: 10px;
}


div.taxonomyTree::-webkit-scrollbar {
    -webkit-appearance: none;
}

div.taxonomyTree::-webkit-scrollbar:vertical {
    width: 11px;
}

div.taxonomyTree::-webkit-scrollbar:horizontal {
    height: 0px;
}

div.taxonomyTree::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

div.taxonomyTree::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}