{% extends "@Generic/Base.html.twig" %}

{% block body %}

    <h1>Folder: {{ content.title }}</h1>

    <ul>
    {% for entity in items %}
        <li><a href="{{ link(entity) }}">{{ entity.title }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}

