{% extends "BWCMSBundle::skeleton.html.twig" %}


{% block title %}BWCMSBundle:Media:index{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bwcms/dropzone/dropzone.min.css') }}" />
{% endblock %}

{% block body %}
    <h1>Media</h1>

    <form action="{{ url('media_upload') }}" class="dropzone"></form>

    <form action="{{ url('media_upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit">
    </form>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/bwcms/dropzone/dropzone.min.js') }}"></script>
{% endblock %}


