body {
    padding-top: 30px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

div.mediaPageLeft{
    min-height: 400px;
    background-color: #f1f0f0;
}

div.mediaPageRight {
    min-height: 400px;
}

table.dataTable tr.odd {
    background-color: #F9F9F9;
}

table.dataTable tr.even {
    background-color: #FFFFFF;
}

ul.FCList li{
    border: 1px solid #cccccc;
    border-radius: 25px;
    margin-bottom: 3px;
    padding-top: 5px;
    cursor: move;
}

img.contentThumb{
    height: 32px;
    width: 32px;
}