{% extends "BWCMSBundle:Common:default.html.twig" %}

{% block title %} {{ title }} {% endblock %}
{% block pageTitle %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}
