{% extends "::base.html.twig" %}

{% block title %}BWCMSBundle:Home:index{% endblock %}

{% block body %}
<h1>Bellwether Brands CMS</h1>
    <ul>
        <li><a href="{{ url('fos_user_security_login') }}">Login</a></li>
        <li><a href="{{ url('dashboard_home') }}">Dashboard</a></li>
    </ul>
{% endblock %}
